.btn{
    background-color: $neonBlue;
    border-radius: 4px;
    color: $white;
    font-family: $fontMain;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    display: inline-block;
    border: none;


    &.btn--add{
        padding: 13px 27px;
        margin-left: 35px;
    }
    

    &.btn--step{
        width: 180px;
        height: 55px;
        border: 1px solid $neonBlue;
    }

    &.btn--step_transparent{
        background-color: transparent;
        color: $neonBlue;
        margin-right: 20px;
    }

    &.btn--border{
        border: 1px solid $neonBlue;
        padding: 7px 34px !important;
    }

    &.btn--transparent{
        padding: 19px 0 17px 0;
        color: $neonBlue;
        background-color: transparent;
    }

    &.btn--popup{
        padding:18px 85.35px ;
    }

    
}