.title{
    font-family: $fontMain;
    font-style: normal;
    font-weight: 500;
    font-size: 33px;
    line-height: 42px;
}

.subtext{
    font-family: $fontMain;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: $haiti;
    
    &.subtext--white{
        color: $white;
    }
}


.subtitle{
    font-family: $fontMain;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: $haiti;
}

.information-title{
    font-family: $fontMain;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: $haiti;
    margin-bottom: 6px;
}

.main-title{
    margin-top: 0;
    font-family: $fontMain;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: $haiti;
    padding-bottom: 8px;
    border-bottom: 1px solid #EBEBEB;
    text-align: start;
    margin-bottom: 0;

    span{
        margin-right: 0;
        margin-left: auto;
        font-family: $fontMain;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 42px;
        color: $haiti;
        opacity: 0.6;
        float:right;

    }

    a{
        margin-right: 0;
        margin-left: auto;
        font-family: $fontMain;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 33px;
        color: $neonBlue;
        float:right;
        text-decoration: none;

    }
}

.dropzone-title{
    font-family: $fontMain;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: $haiti;
    margin-bottom: 6px;
}

.popup-title{
    font-family: $fontMain;
    font-style: normal;
    font-weight: 500 !important;
    font-size: 26px;
    line-height: 30px;
    color: $haiti;
}

.popup-subtitle{
    font-family:$fontMain;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: $haiti;
    opacity: 0.8;
}