.description{
    background: #FBFBFD;
    border: 1px solid #E8E8F2;
    border-radius: 2px;
    width: 100%;
    max-width: 598px;
    margin: 39px auto 0;
    padding: 24px 16px;
    text-align: start;
}