.main-content{
    border: 1px solid #EDEDED;
    border-radius: 0px 0px 3px 3px;
    padding: 50px 60px 60px;
}

.information-item{
    width: 600px;
    text-align: start;
    margin: 37px auto 0;

    &.information-item--hubs{
        display: flex;
        flex-direction: column;

       span{
            color:$neonBlue;
        }
        
    }

    &.information-item--date{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-items: center;
        
    }
}


.hubsitems{
    width: auto;
    height: 50px;
    padding-top: 16px;
    padding-bottom: 15px;
    padding-left: 15px;
    color: $haiti;
}

.hubs-item{
    width: 100%;
}